.point{
    display: inline-flex;
    background: #ff6600;
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
}